[submodule "lib/snowflake-connector-net"]
	path = lib/snowflake-connector-net
	url = https://github.com/peracto/snowflake-connector-net.git
	branch = fix-netcore-externalbrowserauth
[submodule "lib/pipeline"]
	path = lib/pipeline
	url = https://github.com/peracto/pipeline.git
[submodule "lib/snowflake-file-extensions"]
	path = lib/snowflake-file-extensions
	url = https://github.com/peracto/snowflake-file-extensions.git
